[user]
	email = tarzaltreda@gmail.com
	name = Reda Tarzalt

[core]
    excludesfile = /home/lilflare/.gitignore_global

{{- if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
    helper = /home/linuxbrew/.linuxbrew/bin/brew

[credential "https://gist.github.com"]
    helper = /home/linuxbrew/.linuxbrew/bin/brew
{{- else if eq .chezmoi.os "darwin" }}
[credential "https://github.com"]
    helper = /opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper = /opt/homebrew/bin/gh auth git-credential
{{- end -}}

